openapi: 3.0.1
info:
  description: |
    An OpenAPI definition for the GitLab REST API.
    Few API resources or endpoints are currently included.
    The intent is to expand this to match the entire Markdown documentation of the API:
    <https://docs.gitlab.com/ee/api/>. Contributions are welcome.

    When viewing this on gitlab.com, you can test API calls directly from the browser
    against the `gitlab.com` instance, if you are logged in.
    The feature uses the current [GitLab session cookie](https://docs.gitlab.com/ee/api/index.html#session-cookie),
    so each request is made using your account.

    Instructions for using this tool can be found in [Interactive API Documentation](https://docs.gitlab.com/ee/api/openapi/openapi_interactive.html)
  license:
    name: CC BY-SA 4.0
    url: https://gitlab.com/gitlab-org/gitlab/-/blob/master/LICENSE
  termsOfService: https://about.gitlab.com/terms/
  title: GitLab API
  version: v4
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://www.gitlab.com/api
security:
- ApiKeyAuth: []
tags:
- description: Operations about badges
  name: badges
- description: Operations about branches
  name: branches
- description: Operations related to access requests
  name: access_requests
- description: Operations about bulk_imports
  name: bulk_imports
- description: Operations about alert_managements
  name: alert_management
- description: Operations about broadcast_messages
  name: broadcast_messages
- description: Operations related to CI/CD variables
  name: ci_variables
- description: Operations related to clusters
  name: clusters
- description: Operations about batched_background_migrations
  name: batched_background_migrations
- description: Operations about applications
  name: applications
- description: Operations related to CI Jobs
  name: jobs
- description: Operations about applications
  name: application
- description: Operations related to metadata of the GitLab instance
  name: metadata
- description: Operations related to plan limits
  name: plan_limits
- description: Operations about admins
  name: admin
- description: Operations about migrations
  name: migrations
- description: Operations about avatars
  name: avatar
- description: Operations related to linting a CI config file
  name: ci_lint
- description: Operations to manage job concurrency with resource groups
  name: ci_resource_groups
- description: Operations related to the GitLab agent for Kubernetes
  name: cluster_agents
- description: Operations related to Composer packages
  name: composer_packages
- description: Operations related to Conan packages
  name: conan_packages
- description: Operations related to container registry
  name: container_registry
- description: Operations related to container registry events
  name: container_registry_event
- description: Operations related to dashboard annotations
  name: dashboard_annotations
- description: Operations related to Debian Linux distributions
  name: debian_distribution
- description: Operations related to Debian Linux packages
  name: debian_packages
- description: Operations to manage dependency proxy for a groups
  name: dependency_proxy
- description: Operations related to deploy keys
  name: deploy_keys
- description: Operations related to deploy tokens
  name: deploy_tokens
- description: Operations related to deployments
  name: deployments
- description: Operations related to DevOps Research and Assessment (DORA) key metrics
  name: dora_metrics
- description: Operations related to environments
  name: environments
- description: Operations related to error tracking client keys
  name: error_tracking_client_keys
- description: Operations related to error tracking project settings
  name: error_tracking_project_settings
- description: Operations related to accessing GitLab feature flag user lists
  name: feature_flags_user_lists
- description: Operations related to feature flags
  name: feature_flags
- description: Operations related to managing Flipper-based feature flags
  name: features
- description: Operations related to deploy freeze periods
  name: freeze_periods
- description: Operations related to Generic packages
  name: generic_packages
- description: Operations related to Geo
  name: geo
- description: Operations related Geo Nodes
  name: geo_nodes
- description: Operations related to Go Proxy
  name: go_proxy
- description: Operations related to exporting groups
  name: group_export
- description: Operations related to importing groups
  name: group_import
- description: Operations related to group packages
  name: group_packages
- description: Operations related to Helm packages
  name: helm_packages
- description: Operations related to integrations
  name: integrations
- description: Operations related to issue links
  name: issue_links
- description: Operations related to JiraConnect subscriptions
  name: jira_connect_subscriptions
- description: Operations related to Maven packages
  name: maven_packages
- description: Operations related to merge requests
  name: merge_requests
- description: Operations related to User-starred metrics dashboards
  name: metrics_user_starred_dashboards
- description: Operations related to Model registry
  name: ml_model_registry
- description: Operations related to NPM packages
  name: npm_packages
- description: Operations related to Nuget packages
  name: nuget_packages
- description: Operations about package files
  name: package_files
- description: Operations related to exporting projects
  name: project_export
- description: Operations related to project hooks
  name: project_hooks
- description: Operations related to importing projects
  name: project_import
- description: Operations related to importing BitBucket projects
  name: project_import_bitbucket
- description: Operations related to importing GitHub projects
  name: project_import_github
- description: Operations related to project packages
  name: project_packages
- description: Operations related to projects
  name: projects
- description: Operations related to protected environments
  name: protected environments
- description: Operations related to PyPI packages
  name: pypi_packages
- description: Operations related to release assets (links)
  name: release_links
- description: Operations related to releases
  name: releases
- description: Operations about resource milestone events
  name: resource_milestone_events
- description: Operations related to RPM packages
  name: rpm_packages
- description: Operations related to RubyGems
  name: rubygem_packages
- description: Operations related to suggestions
  name: suggestions
- description: Operations related to system hooks
  name: system_hooks
- description: Operations related to Terraform state files
  name: terraform_state
- description: Operations related to the Terraform module registry
  name: terraform_registry
- description: Operations related to Unleash API
  name: unleash_api
paths:
  /api/v4/groups/{id}/badges/{badge_id}:
    delete:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_removeFromGroup
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The badge ID
        explode: false
        in: path
        name: badge_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: Removes a badge from the group.
      summary: Removes a badge from the group.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-groups-id-badges-badge_id
      x-accepts: application/json
    get:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_getGroupBadge
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The badge ID
        explode: false
        in: path
        name: badge_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Badge'
          description: Gets a badge of a group.
      summary: Gets a badge of a group.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-groups-id-badges-badge_id
      x-accepts: application/json
    put:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_updateGroupBadge
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: badge_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgesUpdateGroupBadgeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Badge'
          description: Updates a badge of a group.
      summary: Updates a badge of a group.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-groups-id-badges-badge_id
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/groups/{id}/badges:
    get:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_getList
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-groups-id-badges-get-parameters-1-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-groups-id-badges-get-parameters-2-schema
        style: form
      - description: Name for the badge
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgesGetListResponse'
          description: Gets a list of group badges viewable by the authenticated user.
      summary: Gets a list of group badges viewable by the authenticated user.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-groups-id-badges
      x-accepts: application/json
    post:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_addBadgeToGroup
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgesAddBadgeToGroupRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Badge'
          description: Adds a badge to a group.
      summary: Adds a badge to a group.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-groups-id-badges
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/groups/{id}/badges/render:
    get:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_previewBadgeFromGroup
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: URL of the badge link
        explode: true
        in: query
        name: link_url
        required: true
        schema:
          type: string
        style: form
      - description: URL of the badge image
        explode: true
        in: query
        name: image_url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BasicBadgeDetails'
          description: Preview a badge from a group.
      summary: Preview a badge from a group.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-groups-id-badges-render
      x-accepts: application/json
  /api/v4/groups/{id}/access_requests/{user_id}:
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_denyAccessToUser
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The user ID of the access requester
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-groups-id-access_requests-user_id
      x-accepts: application/json
  /api/v4/groups/{id}/access_requests/{user_id}/approve:
    put:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_approveForUser
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The user ID of the access requester
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessrequestsApproveForUserRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AccessRequester'
            successfull_response:
              example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
              x-konfig-original-example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
          description: successful operation
      summary: Approves an access request for the given user.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-groups-id-access_requests-user_id-approve
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/groups/{id}/access_requests:
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_getList
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-groups-id-access_requests-get-parameters-1-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-groups-id-access_requests-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AccessRequester'
          description: Gets a list of access requests for a group.
      summary: Gets a list of access requests for a group.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-groups-id-access_requests
      x-accepts: application/json
    post:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_requestAccessToGroup
      parameters:
      - description: The ID or URL-encoded path of the group owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AccessRequester'
            successfull_response:
              example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
              x-konfig-original-example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
          description: successful operation
      summary: Requests access for the authenticated user to a group.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-groups-id-access_requests
      x-accepts: application/json
  /api/v4/projects/{id}/repository/merged_branches:
    delete:
      description: Delete all merged branches
      operationId: Branches_deleteMerged
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content: {}
          description: 202 Accepted
        "404":
          content: {}
          description: 404 Project Not Found
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-projects-id-repository-merged_branches
      x-accepts: application/json
  /api/v4/projects/{id}/repository/branches/{branch}:
    delete:
      description: Delete a branch
      operationId: Branches_deleteBranch
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch
        explode: false
        in: path
        name: branch
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: Delete a branch
        "404":
          content: {}
          description: Branch Not Found
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-projects-id-repository-branches-branch
      x-accepts: application/json
    get:
      description: Get a single repository branch
      operationId: Branches_getSingleBranch
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: branch
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Branch'
          description: Get a single repository branch
        "404":
          content: {}
          description: Branch Not Found
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-repository-branches-branch
      x-accepts: application/json
    head:
      description: Check if a branch exists
      operationId: Branches_checkIfExists
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch
        explode: false
        in: path
        name: branch
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-head--api-v4-projects-id-repository-branches-branch
      x-accepts: application/json
  /api/v4/projects/{id}/repository/branches:
    get:
      description: Get a project repository branches
      operationId: Branches_getAll
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-projects-id-repository-branches-get-parameters-1-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-projects-id-repository-branches-get-parameters-2-schema
        style: form
      - description: Return list of branches matching the search criteria
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Return list of branches matching the regex
        explode: true
        in: query
        name: regex
        required: false
        schema:
          type: string
        style: form
      - description: Return list of branches sorted by the given field
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - name_asc
          - updated_asc
          - updated_desc
          type: string
        style: form
      - description: Name of branch to start the pagination from
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchesGetAllResponse'
          description: Get a project repository branches
        "404":
          content: {}
          description: 404 Project Not Found
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-repository-branches
      x-accepts: application/json
    post:
      description: Create branch
      operationId: Branches_createBranch
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch
        explode: true
        in: query
        name: branch
        required: true
        schema:
          type: string
        style: form
      - description: Create branch from commit sha or existing branch
        explode: true
        in: query
        name: ref
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Branch'
          description: Create branch
        "400":
          content: {}
          description: Failed to create branch
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-projects-id-repository-branches
      x-accepts: application/json
  /api/v4/projects/{id}/repository/branches/{branch}/unprotect:
    put:
      description: Unprotect a single branch
      operationId: Branches_unprotectBranch
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch
        explode: false
        in: path
        name: branch
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Branch'
          description: Unprotect a single branch
        "404":
          content: {}
          description: 404 Project Not Found
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-projects-id-repository-branches-branch-unprotect
      x-accepts: application/json
  /api/v4/projects/{id}/repository/branches/{branch}/protect:
    put:
      description: Protect a single branch
      operationId: Branches_protectBranch
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch
        explode: false
        in: path
        name: branch
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchesProtectBranchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Branch'
          description: Protect a single branch
        "404":
          content: {}
          description: 404 Branch Not Found
      tags:
      - branches
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-projects-id-repository-branches-branch-protect
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/projects/{id}/badges/{badge_id}:
    delete:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_removeFromProject
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The badge ID
        explode: false
        in: path
        name: badge_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: Removes a badge from the project.
      summary: Removes a badge from the project.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-projects-id-badges-badge_id
      x-accepts: application/json
    get:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_getProjectBadge
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The badge ID
        explode: false
        in: path
        name: badge_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Badge'
          description: Gets a badge of a project.
      summary: Gets a badge of a project.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-badges-badge_id
      x-accepts: application/json
    put:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_updateProjectBadge
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: badge_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgesUpdateProjectBadgeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Badge'
          description: Updates a badge of a project.
      summary: Updates a badge of a project.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-projects-id-badges-badge_id
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/projects/{id}/badges:
    get:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_listViewableByAuthenticatedUser
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-projects-id-badges-get-parameters-1-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-projects-id-badges-get-parameters-2-schema
        style: form
      - description: Name for the badge
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgesListViewableByAuthenticatedUserResponse'
          description: Gets a list of project badges viewable by the authenticated
            user.
      summary: Gets a list of project badges viewable by the authenticated user.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-badges
      x-accepts: application/json
    post:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_addProjectBadge
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgesAddProjectBadgeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Badge'
          description: Adds a badge to a project.
      summary: Adds a badge to a project.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-projects-id-badges
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/projects/{id}/badges/render:
    get:
      description: This feature was introduced in GitLab 10.6.
      operationId: Badges_renderPreviewFromProject
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: URL of the badge link
        explode: true
        in: query
        name: link_url
        required: true
        schema:
          type: string
        style: form
      - description: URL of the badge image
        explode: true
        in: query
        name: image_url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BasicBadgeDetails'
          description: Preview a badge from a project.
      summary: Preview a badge from a project.
      tags:
      - badges
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-badges-render
      x-accepts: application/json
  /api/v4/projects/{id}/access_requests/{user_id}:
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_denyAccessToUser
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The user ID of the access requester
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-projects-id-access_requests-user_id
      x-accepts: application/json
  /api/v4/projects/{id}/access_requests/{user_id}/approve:
    put:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_approveForUser
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The user ID of the access requester
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessrequestsApproveForUserRequest1'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AccessRequester'
            successfull_response:
              example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
              x-konfig-original-example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
          description: successful operation
      summary: Approves an access request for the given user.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-projects-id-access_requests-user_id-approve
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/projects/{id}/access_requests:
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_getList
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-projects-id-access_requests-get-parameters-1-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-projects-id-access_requests-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AccessRequester'
          description: Gets a list of access requests for a project.
      summary: Gets a list of access requests for a project.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-access_requests
      x-accepts: application/json
    post:
      description: This feature was introduced in GitLab 8.11.
      operationId: Accessrequests_requestAccessToProject
      parameters:
      - description: The ID or URL-encoded path of the project owned by the authenticated
          user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AccessRequester'
            successfull_response:
              example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
              x-konfig-original-example:
                id: 1
                username: raymond_smith
                name: Raymond Smith
                state: active
                created_at: 2012-10-22T14:13:35.000Z
                access_level: 20
          description: successful operation
      summary: Requests access for the authenticated user to a project.
      tags:
      - access_requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-projects-id-access_requests
      x-accepts: application/json
  /api/v4/projects/{id}/alert_management_alerts/{alert_iid}/metric_images/{metric_image_id}:
    delete:
      description: Remove a metric image for an alert
      operationId: Alertmanagement_removeMetricImage
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The IID of the Alert
        explode: false
        in: path
        name: alert_iid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The ID of metric image
        explode: false
        in: path
        name: metric_image_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_MetricImage'
          description: Remove a metric image for an alert
        "403":
          content: {}
          description: Forbidden
        "422":
          content: {}
          description: Unprocessable entity
      tags:
      - alert_management
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-projects-id-alert_management_alerts-alert_iid-metric_images-metric_image_id
      x-accepts: application/json
    put:
      description: Update a metric image for an alert
      operationId: Alertmanagement_updateMetricImage
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The IID of the Alert
        explode: false
        in: path
        name: alert_iid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The ID of metric image
        explode: false
        in: path
        name: metric_image_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AlertmanagementUpdateMetricImageRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_MetricImage'
          description: Update a metric image for an alert
        "403":
          content: {}
          description: Forbidden
        "422":
          content: {}
          description: Unprocessable entity
      tags:
      - alert_management
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-projects-id-alert_management_alerts-alert_iid-metric_images-metric_image_id
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v4/projects/{id}/alert_management_alerts/{alert_iid}/metric_images:
    get:
      description: Metric Images for alert
      operationId: Alertmanagement_getMetricImagesForAlert
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The IID of the Alert
        explode: false
        in: path
        name: alert_iid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertmanagementGetMetricImagesForAlertResponse'
          description: Metric Images for alert
        "404":
          content: {}
          description: Not found
      tags:
      - alert_management
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-alert_management_alerts-alert_iid-metric_images
      x-accepts: application/json
    post:
      description: Upload a metric image for an alert
      operationId: Alertmanagement_uploadMetricImage
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The IID of the Alert
        explode: false
        in: path
        name: alert_iid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AlertmanagementUploadMetricImageRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_MetricImage'
          description: Upload a metric image for an alert
        "403":
          content: {}
          description: Forbidden
      tags:
      - alert_management
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-projects-id-alert_management_alerts-alert_iid-metric_images
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v4/projects/{id}/alert_management_alerts/{alert_iid}/metric_images/authorize:
    post:
      description: Workhorse authorize metric image file upload
      operationId: Alertmanagement_authorizeMetricImageUpload
      parameters:
      - description: The ID or URL-encoded path of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The IID of the Alert
        explode: false
        in: path
        name: alert_iid
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content: {}
          description: Workhorse authorize metric image file upload
        "403":
          content: {}
          description: Forbidden
      tags:
      - alert_management
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-projects-id-alert_management_alerts-alert_iid-metric_images-authorize
      x-accepts: application/json
  /api/v4/admin/batched_background_migrations/{id}:
    get:
      description: Retrieve a batched background migration
      operationId: Batchedbackgroundmigrations_getMigration
      parameters:
      - description: The name of the database
        explode: true
        in: query
        name: database
        required: false
        schema:
          default: main
          enum:
          - main
          - ci
          - embedding
          - main_clusterwide
          - geo
          example: main
          type: string
          x-konfig-original-example: main
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-admin-batched_background_migrations-id-get-parameters-0-schema
        style: form
      - description: The batched background migration id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BatchedBackgroundMigration'
          description: Retrieve a batched background migration
        "401":
          content: {}
          description: 401 Unauthorized
        "403":
          content: {}
          description: 403 Forbidden
        "404":
          content: {}
          description: 404 Not found
      tags:
      - batched_background_migrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-admin-batched_background_migrations-id
      x-accepts: application/json
  /api/v4/admin/batched_background_migrations:
    get:
      description: Get the list of batched background migrations
      operationId: Batchedbackgroundmigrations_list
      parameters:
      - description: "The name of the database, the default `main`"
        explode: true
        in: query
        name: database
        required: false
        schema:
          default: main
          enum:
          - main
          - ci
          - embedding
          - main_clusterwide
          - geo
          example: main
          type: string
          x-konfig-original-example: main
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-admin-batched_background_migrations-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchedbackgroundmigrationsListResponse'
          description: Get the list of batched background migrations
        "401":
          content: {}
          description: 401 Unauthorized
        "403":
          content: {}
          description: 403 Forbidden
      tags:
      - batched_background_migrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-admin-batched_background_migrations
      x-accepts: application/json
  /api/v4/admin/batched_background_migrations/{id}/resume:
    put:
      description: Resume a batched background migration
      operationId: Batchedbackgroundmigrations_resumeMigration
      parameters:
      - description: The batched background migration id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchedbackgroundmigrationsResumeMigrationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BatchedBackgroundMigration'
          description: Resume a batched background migration
        "401":
          content: {}
          description: 401 Unauthorized
        "403":
          content: {}
          description: 403 Forbidden
        "404":
          content: {}
          description: 404 Not found
        "422":
          content: {}
          description: You can resume only `paused` batched background migrations.
      tags:
      - batched_background_migrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-admin-batched_background_migrations-id-resume
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/admin/batched_background_migrations/{id}/pause:
    put:
      description: Pause a batched background migration
      operationId: Batchedbackgroundmigrations_pauseMigration
      parameters:
      - description: The batched background migration id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchedbackgroundmigrationsPauseMigrationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BatchedBackgroundMigration'
          description: Pause a batched background migration
        "401":
          content: {}
          description: 401 Unauthorized
        "403":
          content: {}
          description: 403 Forbidden
        "404":
          content: {}
          description: 404 Not found
        "422":
          content: {}
          description: You can pause only `active` batched background migrations.
      tags:
      - batched_background_migrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-admin-batched_background_migrations-id-pause
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/admin/ci/variables/{key}:
    delete:
      description: Delete an existing instance-level variable
      operationId: Civariables_deleteInstanceVariable
      parameters:
      - description: The key of a variable
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_Variable'
          description: Delete an existing instance-level variable
        "404":
          content: {}
          description: Instance Variable Not Found
      tags:
      - ci_variables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-admin-ci-variables-key
      x-accepts: application/json
    get:
      description: Get the details of a specific instance-level variable
      operationId: Civariables_getSpecificInstanceVariable
      parameters:
      - description: The key of a variable
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_Variable'
          description: Get the details of a specific instance-level variable
        "404":
          content: {}
          description: Instance Variable Not Found
      tags:
      - ci_variables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-admin-ci-variables-key
      x-accepts: application/json
    put:
      description: Update an instance-level variable
      operationId: Civariables_updateInstanceVariable
      parameters:
      - description: The key of a variable
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CivariablesUpdateInstanceVariableRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_Variable'
          description: Update an instance-level variable
        "404":
          content: {}
          description: Instance Variable Not Found
      tags:
      - ci_variables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-admin-ci-variables-key
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/admin/ci/variables:
    get:
      description: List all instance-level variables
      operationId: Civariables_listInstanceVariables
      parameters:
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-admin-ci-variables-get-parameters-0-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-admin-ci-variables-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_Variable'
          description: List all instance-level variables
      tags:
      - ci_variables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-admin-ci-variables
      x-accepts: application/json
    post:
      description: Create a new instance-level variable
      operationId: Civariables_createNewInstanceVariable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CivariablesCreateNewInstanceVariableRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_Variable'
          description: Create a new instance-level variable
        "400":
          content: {}
          description: 400 Bad Request
      tags:
      - ci_variables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-admin-ci-variables
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/admin/databases/{database_name}/dictionary/tables/{table_name}:
    get:
      description: Retrieve dictionary details
      operationId: Admin_getDictionaryDetails
      parameters:
      - description: The database name
        explode: false
        in: path
        name: database_name
        required: true
        schema:
          enum:
          - main
          - ci
          type: string
        style: simple
      - description: The table name
        explode: false
        in: path
        name: table_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Dictionary_Table'
          description: Retrieve dictionary details
        "401":
          content: {}
          description: 401 Unauthorized
        "403":
          content: {}
          description: 403 Forbidden
        "404":
          content: {}
          description: 404 Not found
      tags:
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-admin-databases-database_name-dictionary-tables-table_name
      x-accepts: application/json
  /api/v4/admin/clusters/{cluster_id}:
    delete:
      description: This feature was introduced in GitLab 13.2. Deletes an existing
        instance cluster. Does not remove existing resources within the connected
        Kubernetes cluster.
      operationId: Clusters_deleteInstanceCluster
      parameters:
      - description: The cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Cluster'
          description: Delete instance cluster
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Delete instance cluster
      tags:
      - clusters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-admin-clusters-cluster_id
      x-accepts: application/json
    get:
      description: This feature was introduced in GitLab 13.2. Returns a single instance
        cluster.
      operationId: Clusters_getSingleInstanceCluster
      parameters:
      - description: The cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Cluster'
          description: Get a single instance cluster
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Get a single instance cluster
      tags:
      - clusters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-admin-clusters-cluster_id
      x-accepts: application/json
    put:
      description: This feature was introduced in GitLab 13.2. Updates an existing
        instance cluster.
      operationId: Clusters_updateInstanceCluster
      parameters:
      - description: The cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClustersUpdateInstanceClusterRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Cluster'
          description: Edit instance cluster
        "400":
          content: {}
          description: Validation error
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Edit instance cluster
      tags:
      - clusters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-admin-clusters-cluster_id
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/admin/clusters/add:
    post:
      description: This feature was introduced in GitLab 13.2. Adds an existing Kubernetes
        instance cluster.
      operationId: Clusters_addExistingKubernetesInstanceCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClustersAddExistingKubernetesInstanceClusterRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Cluster'
          description: Add existing instance cluster
        "400":
          content: {}
          description: Validation error
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not found
      summary: Add existing instance cluster
      tags:
      - clusters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-admin-clusters-add
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/admin/clusters:
    get:
      description: This feature was introduced in GitLab 13.2. Returns a list of instance
        clusters.
      operationId: Clusters_listInstanceClusters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClustersListInstanceClustersResponse'
          description: List instance clusters
        "403":
          content: {}
          description: Forbidden
      summary: List instance clusters
      tags:
      - clusters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-admin-clusters
      x-accepts: application/json
  /api/v4/admin/migrations/{timestamp}/mark:
    post:
      description: Mark the migration as successfully executed
      operationId: Migrations_markAsExecuted
      parameters:
      - description: The migration version timestamp
        explode: false
        in: path
        name: timestamp
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationsMarkAsExecutedRequest'
      responses:
        "201":
          content: {}
          description: 201 Created
        "401":
          content: {}
          description: 401 Unauthorized
        "403":
          content: {}
          description: 403 Forbidden
        "404":
          content: {}
          description: 404 Not found
        "422":
          content: {}
          description: You can mark only pending migrations
      tags:
      - migrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-admin-migrations-timestamp-mark
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/applications/{id}:
    delete:
      description: Delete a specific application
      operationId: Applications_deleteSpecificApplication
      parameters:
      - description: The ID of the application (not the application_id)
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: Delete an application
      summary: Delete an application
      tags:
      - applications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-applications-id
      x-accepts: application/json
  /api/v4/applications:
    get:
      description: List all registered applications
      operationId: Applications_listAllRegistered
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsListAllRegisteredResponse'
          description: Get applications
      summary: Get applications
      tags:
      - applications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-applications
      x-accepts: application/json
    post:
      description: This feature was introduced in GitLab 10.5
      operationId: Applications_createNewApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationsCreateNewApplicationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ApplicationWithSecret'
          description: Create a new application
      summary: Create a new application
      tags:
      - applications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-applications
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/avatar:
    get:
      description: Return avatar url for a user
      operationId: Avatar_getUrlForUser
      parameters:
      - description: Public email address of the user
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      - description: Single pixel dimension for Gravatar images
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Avatar'
          description: Return avatar url for a user
      tags:
      - avatar
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-avatar
      x-accepts: application/json
  /api/v4/broadcast_messages/{id}:
    delete:
      description: This feature was introduced in GitLab 8.12.
      operationId: Broadcastmessages_deleteMessage
      parameters:
      - description: Broadcast message ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BroadcastMessage'
          description: Delete a broadcast message
      summary: Delete a broadcast message
      tags:
      - broadcast_messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v4-broadcast_messages-id
      x-accepts: application/json
    get:
      description: This feature was introduced in GitLab 8.12.
      operationId: Broadcastmessages_getSpecificMessage
      parameters:
      - description: Broadcast message ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BroadcastMessage'
          description: Get a specific broadcast message
      summary: Get a specific broadcast message
      tags:
      - broadcast_messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-broadcast_messages-id
      x-accepts: application/json
    put:
      description: This feature was introduced in GitLab 8.12.
      operationId: Broadcastmessages_updateMessage
      parameters:
      - description: Broadcast message ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastmessagesUpdateMessageRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BroadcastMessage'
          description: Update a broadcast message
      summary: Update a broadcast message
      tags:
      - broadcast_messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-broadcast_messages-id
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/broadcast_messages:
    get:
      description: This feature was introduced in GitLab 8.12.
      operationId: Broadcastmessages_listAll
      parameters:
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-broadcast_messages-get-parameters-0-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-broadcast_messages-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BroadcastMessage'
          description: Get all broadcast messages
      summary: Get all broadcast messages
      tags:
      - broadcast_messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-broadcast_messages
      x-accepts: application/json
    post:
      description: This feature was introduced in GitLab 8.12.
      operationId: Broadcastmessages_createMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastmessagesCreateMessageRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BroadcastMessage'
          description: Create a broadcast message
      summary: Create a broadcast message
      tags:
      - broadcast_messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-broadcast_messages
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/bulk_imports/{import_id}/entities/{entity_id}:
    get:
      description: This feature was introduced in GitLab 14.1.
      operationId: Bulkimports_getEntityDetails
      parameters:
      - description: The ID of user's GitLab Migration
        explode: false
        in: path
        name: import_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The ID of GitLab Migration entity
        explode: false
        in: path
        name: entity_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BulkImports'
          description: Get GitLab Migration entity details
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
        "503":
          content: {}
          description: Service unavailable
      summary: Get GitLab Migration entity details
      tags:
      - bulk_imports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-bulk_imports-import_id-entities-entity_id
      x-accepts: application/json
  /api/v4/bulk_imports/{import_id}/entities:
    get:
      description: This feature was introduced in GitLab 14.1.
      operationId: Bulkimports_listEntities
      parameters:
      - description: The ID of user's GitLab Migration
        explode: false
        in: path
        name: import_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Return import entities with specified status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - created
          - started
          - finished
          - timeout
          - failed
          type: string
        style: form
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-import_id-entities-get-parameters-2-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-import_id-entities-get-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkimportsListEntitiesResponse'
          description: List GitLab Migration entities
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
        "503":
          content: {}
          description: Service unavailable
      summary: List GitLab Migration entities
      tags:
      - bulk_imports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-bulk_imports-import_id-entities
      x-accepts: application/json
  /api/v4/bulk_imports/{import_id}:
    get:
      description: This feature was introduced in GitLab 14.1.
      operationId: Bulkimports_getMigrationDetails
      parameters:
      - description: The ID of user's GitLab Migration
        explode: false
        in: path
        name: import_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BulkImport'
          description: Get GitLab Migration details
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
        "503":
          content: {}
          description: Service unavailable
      summary: Get GitLab Migration details
      tags:
      - bulk_imports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-bulk_imports-import_id
      x-accepts: application/json
  /api/v4/bulk_imports/entities:
    get:
      description: This feature was introduced in GitLab 14.1.
      operationId: Bulkimports_listEntities
      parameters:
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-entities-get-parameters-0-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-entities-get-parameters-1-schema
        style: form
      - description: Return GitLab Migrations sorted in created by `asc` or `desc`
          order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          example: desc
          type: string
          x-konfig-original-example: desc
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-entities-get-parameters-2-schema
        style: form
      - description: Return all GitLab Migrations' entities with specified status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - created
          - started
          - finished
          - timeout
          - failed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkimportsListEntities200Response'
          description: List all GitLab Migrations' entities
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
        "503":
          content: {}
          description: Service unavailable
      summary: List all GitLab Migrations' entities
      tags:
      - bulk_imports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-bulk_imports-entities
      x-accepts: application/json
  /api/v4/bulk_imports:
    get:
      description: This feature was introduced in GitLab 14.1.
      operationId: Bulkimports_listMigrations
      parameters:
      - description: Current page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-get-parameters-0-schema
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-get-parameters-1-schema
        style: form
      - description: Return GitLab Migrations sorted in created by `asc` or `desc`
          order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          example: desc
          type: string
          x-konfig-original-example: desc
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-bulk_imports-get-parameters-2-schema
        style: form
      - description: Return GitLab Migrations with specified status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - created
          - started
          - finished
          - timeout
          - failed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkimportsListMigrationsResponse'
          description: List all GitLab Migrations
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
        "503":
          content: {}
          description: Service unavailable
      summary: List all GitLab Migrations
      tags:
      - bulk_imports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-bulk_imports
      x-accepts: application/json
    post:
      description: This feature was introduced in GitLab 14.2.
      operationId: Bulkimports_startNewMigration
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkimportsStartNewMigrationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BulkImport'
          description: Start a new GitLab Migration
        "400":
          content: {}
          description: Bad request
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
        "422":
          content: {}
          description: Unprocessable entity
        "503":
          content: {}
          description: Service unavailable
      summary: Start a new GitLab Migration
      tags:
      - bulk_imports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v4-bulk_imports
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /api/v4/application/appearance:
    get:
      description: Get the current appearance
      operationId: Application_getCurrentAppearance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Appearance'
          description: Get the current appearance
      tags:
      - application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-application-appearance
      x-accepts: application/json
    put:
      description: Modify appearance
      operationId: Application_modifyAppearance
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicationModifyAppearanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Appearance'
          description: Modify appearance
      tags:
      - application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-application-appearance
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v4/application/plan_limits:
    get:
      description: List the current limits of a plan on the GitLab instance.
      operationId: Planlimits_getCurrentLimits
      parameters:
      - description: "Name of the plan to get the limits from. Default: default."
        explode: true
        in: query
        name: plan_name
        required: false
        schema:
          default: default
          enum:
          - default
          - free
          - bronze
          - silver
          - premium
          - gold
          - ultimate
          - ultimate_trial
          - premium_trial
          - opensource
          example: default
          type: string
          x-konfig-original-example: default
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v4-application-plan_limits-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_PlanLimit'
          description: Get current plan limits
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      summary: Get current plan limits
      tags:
      - plan_limits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-application-plan_limits
      x-accepts: application/json
    put:
      description: Modify the limits of a plan on the GitLab instance.
      operationId: Planlimits_modifyLimits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanlimitsModifyLimitsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_PlanLimit'
          description: Change plan limits
        "400":
          content: {}
          description: Bad request
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      summary: Change plan limits
      tags:
      - plan_limits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v4-application-plan_limits
      x-content-type: application/json
      x-accepts: application/json
  /api/v4/metadata:
    get:
      description: This feature was introduced in GitLab 15.2.
      operationId: Metadata_getInformation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Metadata'
          description: Retrieve metadata information for this GitLab instance
        "401":
          content: {}
          description: Unauthorized
      summary: Retrieve metadata information for this GitLab instance
      tags:
      - metadata
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-metadata
      x-accepts: application/json
  /api/v4/version:
    get:
      description: This feature was introduced in GitLab 8.13 and deprecated in 15.5.
        We recommend you instead use the Metadata API.
      operationId: Metadata_getVersionInformation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Metadata'
          description: Retrieves version information for the GitLab instance
        "401":
          content: {}
          description: Unauthorized
      summary: Retrieves version information for the GitLab instance
      tags:
      - metadata
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-version
      x-accepts: application/json
  /api/v4/projects/{id}/jobs:
    get:
      operationId: Jobs_listForProject
      parameters:
      - description: The ID of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Return all jobs with the specified statuses
        explode: true
        in: query
        name: scope
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListForProjectResponse'
          description: An array of jobs
      summary: List jobs for a project
      tags:
      - jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-jobs
      x-accepts: application/json
  /api/v4/projects/{id}/jobs/{job_id}:
    get:
      operationId: Jobs_getSingleById
      parameters:
      - description: The ID of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the job
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Job'
          description: A single job object
      summary: Get a single job by ID
      tags:
      - jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v4-projects-id-jobs-job_id
      x-accepts: application/json
  /api/v4/projects/{id}/jobs/{job_id}/play:
    post:
      operationId: Jobs_runManualJob
      parameters:
      - description: The ID of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the manual job to run
        explode: false
        in: path
        name: job_id
        required: true
        schema:
[...]
